.navbar {
  display: flex;
  gap: 10px;
  background: #f8f8f8;
  padding: 5px;
  border-radius: 8px;
  width: fit-content;
}
.navbar button {
  border: none;
  background: #ddd;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.navbar button:hover {
  background: #ccc;
}

body {
  font-family: "Garamond", serif;
  margin: 0;
  padding: 0;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgb(48, 37, 37);
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  z-index: 10;
  mix-blend-mode: difference;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 100px 2vw;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  filter: grayscale(50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #564242;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.post:hover .overlay {
  opacity: 0.95;
  cursor: pointer;
  pointer-events: auto;
}

.h1 {
  font-family: 'Snell Roundhand Script';
  font-style: italic; 
  font-size: 150px; /* Font size */
  color: white; /* Font color */
  text-align: center; /* Center align */
}

.subtitle {
  text-align: center; /* Center align */
}

.footer {
  text-align: center; /* Center align */
  margin-bottom: 20px; /* Space above the footer */
  font-size: 16px; /* Font size */
  color: #eee5e5; /* Font color */
}
