.navbar {
    display: flex;
    margin: 20px;
    gap: 10px;
    background: #f8f8f8;
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
  }
  .navbar button {
    border: none;
    background: #ddd;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  .navbar button:hover {
    background: #ccc;
  }
  
  body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f7f1c9 ;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.image {
    width: 40%;
    max-width: 600px;
    margin: 0px 0;
}

